{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- custom style -->
        <link rel="stylesheet" href="{% static 'listApp/css/base.css' %}">

        {% block head %}
        {% endblock %}
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@700&display=swap" rel="stylesheet">


        <title>Later</title>


    </head>
    <body>
        <!-- NAV BAR -->
        <!-- <nav class="navbar">
            <a class="navbar-brand" href="#!">Later</a>
            <div class="group">
                <h2 class="ml8">
                <span class="letters-container">
                <span class="letters letters-left"><a class= "two" href="{% url 'book-create' %}">Add Book</a></span>
                </span>
                <span class="circle circle-white"></span>
                <span class="circle circle-white"></span>
                <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            </div>
        </nav> -->

        <!-- <div class="gallery">
            <div class="gallery-container">
                    <img class="gallery-item" src="2.jpg">
                    <img class="gallery-item" src="3.jpg">
                    <img class="gallery-item" src="4.jpg">
                    <img class="gallery-item" src="5.jpg">

            </div>
            <div class="gallery-controls"></div>
        </div> -->

        {% block content %}
        {% endblock %}


        <!-- Gallery of Books-->
        <!-- <p> Your saved items: </p>
        <div class="gallery">
            <div class="gallery-container">
                    {% if booklist %}
                    {% for book in booklist %}
                    <div class="gallery-item">
                            <li><a href="/listApp/{{ book.id }}/">{{ book.book_title }}</a></li>
                    </div>
                    <img class="gallery-item" src="2.jpg">
                    <img class="gallery-item" src="3.jpg">
                    <img class="gallery-item" src="4.jpg">
                    <img class="gallery-item" src="5.jpg">
                    {% endfor %}
                {% else %}
                        <p>No books are available.</p>
                {% endif %}
            </div>
            <div class="gallery-controls"></div>
        </div> -->

    <!-- custom script -->
    <!-- <script src="{% static 'listApp/js/base.js' %}"></script> -->
    </body>

</html>
