<div class="container">
<!-- Page Heading -->
      <h1 class="my-4">Welcome to Book World
        <small>Let's read togther</small>
      </h1>

{% if response %}
      <!-- {{ response }} -->
    {% for r in response %}
    <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ r.volumeInfo.imageLinks.smallThumbnail }}"  alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{ r.volumeInfo.title }}</h3>
          <p>{{ r.volumeInfo.description }}</p>
          <a class="btn btn-primary" href="#">Add</a>
        </div>
      </div>
      <hr>
          <!-- <button type='button' onclick=''></button> -->


        <!-- {{ r.artist.name }}
        <br>
        <img src="{{ r.artist.picture }}" alt="" width="500" height="500">
        <br>
        {{ r.id }}
        {{ r.title }}
        <a href="{{ r.preview }}"> Link </a>
        <br> -->

        <!-- <div class="tenor-gif-embed" data-postid="{{ r.id }}" data-share-method="host" data-width="500px"
          data-aspect-ratio="1.2266666666666666">

      </div> -->
    {% endfor %}
{% else %}
    <p>Working progress.</p>
{% endif %}
</div>
