{% extends "listApp/base.html" %}
{% load static %}

{% block head %}
<!-- custom style -->
<link rel="stylesheet" href="{% static 'listApp/css/booklist.css' %}">
{% endblock %}

{% block content %}
  <!-- Page Heading -->
  <h1 class="my-4"> My to read list
    <small>A-Z</small>
  </h1>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'books' %}">Search</a>
    {% if booklist %}
    <div class="row">
        {% for book in booklist %}
          <!-- <div class="col-lg-3 col-sm-6 col-xs-12"> -->
           <div class="col-lg-4 col-sm-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ book.image }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="/listApp/{{ book.id }}/">{{ book.book_title_or_author_name }}</a>
                    </h4>
                    <p class="card-text">
                       <li style="color:black;">{{ book.description }}</li>
                    </p>
                  </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}

          </div>

            <div class="row">
              {% endif %}
            {% endfor %}
            </div>
          {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
          {% endif %}

    {% else %}
        <p>No books are available.</p>
    {% endif %}


{% endblock %}
