{% extends "listApp/base.html" %}
{% load static %}


{% block content %}
    <a href="{% url 'home' %}">Home</a>
    {% if booklist %}
        {% for book in booklist %}
            <div style="display:flex; flex-direction:row" class="row">
              <div class="col-lg-4 mb-2">
                <div class="card h-80">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Project One</a>
                    </h4>
                    <p class="card-text">
                      <li><a href="/listApp/{{ book.id }}/">{{ book.book_title_or_author_name }}</a></li>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

    {% else %}
        <p>No books are available.</p>
    {% endif %}


{% endblock %}
