<!DOCTYPE html>
<html>
    <head>
        <title>Later- Create your account!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="listApp/main.css">
    </head>

    <body>
        <!-- NAV BAR -->
        <div class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="index.html">Learn</a>
            <a class="btn btn-light" href="login.html">Login</a>
            </form>
        </div>

        <!-- CREATE AN ACCOUNT -->
        <div class="container">
            <h4>Create your account:</h4>
            <div class="sign-in-container">
                <label for="firstname">Fist Name</label>
                <input type="text" placeholder="enter first name" name="firstname" requred><br>
                <label for="lastname">Last Name</label>
                <input type="text" placeholder="enter last name" name="lastname" requred><br>
                <label for="username">Username</label>
                <input type="text" placeholder="enter username" name="username" requred><br>
                <label for="email">Email</label>
                <input type="text" placeholder="enter email" name="email" requred><br>
                <label for="password"> create password</label>
                <input type="text" placeholder="enter password" name="password" requred>
                <label for="confirmpassword"> corfirm password</label>
                <input type="text" placeholder="confirm password" name="confirmpassword" requred>
                <a class="btn btn-light" href="profile.html">Submit</a><br>
                <label> <input type="checkbox" checked="checked" name="remember">Remember me</label>
            </div>
        </div>         
    </body>
</html>