<!DOCTYPE html>
<html>
    <head>
        <title>Later- Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/listApp/main.css">
    </head>

    <body>
        <!-- Nav Bar -->
        <div class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="index.html">Later</a>
            </form>
        </div>

        <!-- Login Form -->
        <div class="container">
            <h1>Welcome back!</h1>
            <div class="sign-in-container">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" requred>
                <label for="password">Password</label>
                <input type="text" placeholder="Enter password" name="password" requred>
                <a class="btn btn-light" href="profile.html">Login</a>
                <label> <input type="checkbox" checked="checked" name="remember">Remember me</label>
            </div>
        </div>         
    </body>
</html>