<!DOCTYPE html>
<html>
    <head>
        <title>Later - Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="listApp/main.css">
    </head>

    <body>        
        <!-- Nav Bar -->
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="index.html">Learn</a>
            <a class="btn btn-light" href="#">Sign Out</a>
        </nav>

        <!-- Profile -->
        <div class="container">
            <div class="card">
                <!--Profile User Photo-->
            </div>
        <div class="player-info">
            <!--User Name, etc-->
        </div>
        <div class="buttons-browse">
        <div class="button-saved-games">
        <!-- Start a New List -->
            <a class="card-btn btn-light" href="#">Start New List</a>
        </div>
        <div class="button-resume-game">
        <!-- Save Item to Current List -->
            <a class="card-btn btn-light" href="#">Save to Current List</a>
        </div>
        </div>
    </body>
</html>