body {
   /* background-color: #b9ebcc !important; */
}

a.morelink {
  text-decoration:none;
  outline: none;
}

.morecontent span {
  display: none;
}
.comment {
  /* width: 400px; */
  margin: 10px;
}

div.comment {
  width: 410px;
  height: 110px;
  overflow: scroll;
}

.nav-item {
  position: relative;
  left: 1000px;
}
